In [1]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint
from datetime import datetime

In [50]:
vaccination = requests.get("https://disease.sh/v3/covid-19/vaccine/coverage/countries?lastdays=30").json()
#pprint(vaccination)
len(vaccination)

213

In [51]:
vaccine_days = []

vaccine_keys = vaccination[0]["timeline"].keys()

for value in vaccine_keys:
    vaccine_days.append(value)

#vaccine_days

In [52]:
country = []
vaccine =[]
v_date = []
for i in range(len(vaccination)): 
       
    
    for j in vaccine_days:
        
        try:
             
            vaccine.append(vaccination[i]["timeline"][j])
            country.append(vaccination[i]["country"])
            v_date.append(j)
        except:
            pass

In [6]:
len(country)

6366

In [7]:
len(vaccine)

6366

In [8]:
len(v_date)

6366

In [53]:
world_vaccination_df = pd.DataFrame({
                                "Country" : country,
                                "Date" : v_date,
                                "Vaccination_count" : vaccine
    
})

world_vaccination_df.head(2)

       Country     Date  Vaccination_count
0  Afghanistan  6/29/21             864801
1  Afghanistan  6/30/21             886854

In [54]:
world_data = requests.get("https://disease.sh/v3/covid-19/historical/").json()
#pprint(world_data)

In [55]:
len(world_data)

279

In [56]:
world_days = []

world_keys = world_data[0]["timeline"]['cases'].keys()

for value in world_keys:
    world_days.append(value)

#world_days

In [57]:
country = []
cases =[]
deaths = []
recovered = []
w_date = []
for i in range(len(world_data)): 
       
    
    for j in world_days:
        
        try:
             
            cases.append(world_data[i]['timeline']['cases'][j])
            deaths.append(world_data[i]['timeline']['deaths'][j])
            recovered.append(world_data[i]['timeline']['recovered'][j])
            country.append(world_data[i]["country"])
            w_date.append(j)
        except:
            pass

In [58]:
len(cases)

8370

In [59]:
len(deaths)

8370

In [60]:
len(recovered)

8370

In [61]:
len(country)

8370

In [62]:
len(w_date)

8370

In [63]:
world_covid_df = pd.DataFrame({
                              
                            
                                "Country" : country,
                                "Date" : w_date,
                                "Cases" : cases,
                                "Deaths" : deaths,
                                "Recovered" : recovered
                                
    
})

world_covid_df.head(10)

       Country     Date   Cases  Deaths  Recovered
0  Afghanistan  6/29/21  117158    4794      70016
1  Afghanistan  6/30/21  118659    4871      71012
2  Afghanistan   7/1/21  120216    4962      71924
3  Afghanistan   7/2/21  120216    4962      72700
4  Afghanistan   7/3/21  120216    4962      73635
5  Afghanistan   7/4/21  120216    4962      74480
6  Afghanistan   7/5/21  125937    5283      75314
7  Afghanistan   7/6/21  127464    5360      76218
8  Afghanistan   7/7/21  129021    5415      77280
9  Afghanistan   7/8/21  130113    5477      78521

In [64]:
covid_df = pd.merge(world_covid_df,world_vaccination_df)


covid_df.head(10)

       Country     Date   Cases  Deaths  Recovered  Vaccination_count
0  Afghanistan  6/29/21  117158    4794      70016             864801
1  Afghanistan  6/30/21  118659    4871      71012             886854
2  Afghanistan   7/1/21  120216    4962      71924             900969
3  Afghanistan   7/2/21  120216    4962      72700             913913
4  Afghanistan   7/3/21  120216    4962      73635             925686
5  Afghanistan   7/4/21  120216    4962      74480             936288
6  Afghanistan   7/5/21  125937    5283      75314             915671
7  Afghanistan   7/6/21  127464    5360      76218             923566
8  Afghanistan   7/7/21  129021    5415      77280             934463
9  Afghanistan   7/8/21  130113    5477      78521             941428

In [65]:
dc = []
dd = []
dr = []
dv = []

dc.append(0)
dd.append(0)
dr.append(0)
dv.append(0)

for i in range(1,len(covid_df)):
    try:
        if(covid_df['Country'][i]==covid_df['Country'][i-1]):
            dc.append(covid_df['Cases'][i] - covid_df['Cases'][i-1])
            dd.append(covid_df['Deaths'][i] - covid_df['Deaths'][i-1])
            dr.append(covid_df['Recovered'][i] - covid_df['Recovered'][i-1])
            dv.append(covid_df['Vaccination_count'][i] - covid_df['Vaccination_count'][i-1])
        else:
            dc.append(0)
            dd.append(0)
            dr.append(0)
            dv.append(0)
    except:
        pass
covid_df['Daily_New_case']=dc
covid_df['Daily_Death_case']=dd
covid_df['Daily_Recovered_case']=dr
covid_df['Daily_Vaccination']=dv

covid_df.head(5)

,Country,Date,Cases,Deaths,Recovered,Vaccination_count,Daily_New_case,Daily_Death_case,Daily_Recovered_case,Daily_Vaccination
0,Afghanistan,6/29/21,117158,4794,70016,864801,0,0,0,0
1,Afghanistan,6/30/21,118659,4871,71012,886854,1501,77,996,22053
2,Afghanistan,7/1/21,120216,4962,71924,900969,1557,91,912,14115
3,Afghanistan,7/2/21,120216,4962,72700,913913,0,0,776,12944
4,Afghanistan,7/3/21,120216,4962,73635,925686,0,0,935,11773

In [66]:
covid_df = covid_df.sort_values(['Country','Date','Cases']).drop_duplicates(subset=["Country","Date"],keep="last")


covid_df.head(5)

,Country,Date,Cases,Deaths,Recovered,Vaccination_count,Daily_New_case,Daily_Death_case,Daily_Recovered_case,Daily_Vaccination
0,Afghanistan,6/29/21,117158,4794,70016,864801,0,0,0,0
1,Afghanistan,6/30/21,118659,4871,71012,886854,1501,77,996,22053
2,Afghanistan,7/1/21,120216,4962,71924,900969,1557,91,912,14115
11,Afghanistan,7/10/21,131586,5561,80226,955848,0,0,780,7292
12,Afghanistan,7/11/21,131586,5561,81077,962093,0,0,851,6245

## Covid Data

In [68]:
covid_df['Date']=pd.to_datetime(covid_df.Date)
covid_df=covid_df.sort_values(['Country','Date'])
covid_df.head(10)

,Country,Date,Cases,Deaths,Recovered,Vaccination_count,Daily_New_case,Daily_Death_case,Daily_Recovered_case,Daily_Vaccination
0,Afghanistan,2021-06-29,117158,4794,70016,864801,0,0,0,0
1,Afghanistan,2021-06-30,118659,4871,71012,886854,1501,77,996,22053
2,Afghanistan,2021-07-01,120216,4962,71924,900969,1557,91,912,14115
3,Afghanistan,2021-07-02,120216,4962,72700,913913,0,0,776,12944
4,Afghanistan,2021-07-03,120216,4962,73635,925686,0,0,935,11773
5,Afghanistan,2021-07-04,120216,4962,74480,936288,0,0,845,10602
6,Afghanistan,2021-07-05,125937,5283,75314,915671,5721,321,834,-20617
7,Afghanistan,2021-07-06,127464,5360,76218,923566,1527,77,904,7895
8,Afghanistan,2021-07-07,129021,5415,77280,934463,1557,55,1062,10897
9,Afghanistan,2021-07-08,130113,5477,78521,941428,1092,62,1241,6965

## Group by Covid data

In [69]:
covid_groupby = covid_df.groupby('Country').median().reset_index()
covid_groupby.head(10)

,Country,Cases,Deaths,Recovered,Vaccination_count,Daily_New_case,Daily_Death_case,Daily_Recovered_case,Daily_Vaccination
0,Afghanistan,135648.0,5857.0,82586.0,1003525.0,633.5,45.5,0.0,11049.0
1,Albania,132612.0,2456.0,130056.0,1039583.0,12.0,0.0,5.0,6432.5
2,Algeria,148340.0,3874.5,102893.0,75000.0,927.5,13.5,586.0,0.0
3,Andorra,14167.0,127.0,13796.0,71647.5,8.0,0.0,0.5,121.0
4,Angola,40232.5,943.5,34542.0,1567363.5,101.5,3.0,69.5,4930.5
5,Antigua and Barbuda,1266.5,42.0,1222.0,65719.5,0.0,0.0,0.0,114.0
6,Argentina,4692808.5,99945.0,4320498.0,25486405.5,15033.0,395.5,15795.0,373063.0
7,Armenia,226676.5,4550.5,217853.0,114645.5,144.0,3.0,93.5,2398.0
8,Australia,20732.0,820.0,19891.5,9386585.5,20498.0,807.0,19670.5,0.0
9,Austria,652188.0,10725.0,639094.5,8794996.5,240.5,1.0,125.0,58853.5

## Today's Covid info

In [81]:
vaccination1 = requests.get("https://disease.sh/v3/covid-19/vaccine/coverage/countries?lastdays=1").json()
country = []
vc = []


for i in range(len(vaccination1)):
    c = vaccination1[i]['country']
    vc.append(vaccination1[i]['timeline']['7/28/21'])  
    
    country.append(c)

len(country)
len(vc)

213

In [82]:
vaccine_count = pd.DataFrame({"Country" : country,
                               "Vaccination_count": vc  })

vaccine_count.head()

       Country  Vaccination_count
0  Afghanistan            1171064
1      Albania            1138771
2      Algeria              75000
3      Andorra              82349
4       Angola            1592537

In [83]:
country = []
vaccine1 =[]
v_date1 = []
for i in range(len(vaccination1)): 
       
    
    for j in vaccine_days:
        
        try:
             
            vaccine1.append(vaccination1[i]["timeline"][j])
            country.append(vaccination1[i]["country"])
            v_date1.append(j)
        except:
            pass

In [84]:
url= "https://disease.sh/v3/covid-19/countries/"



world_active =[]
activePerOneMillion = []
cases = []
casesPerOneMillion = []
continent = []
w_country = []
lat = []
long = []
critical = []
criticalPerOneMillion = []
deaths = []
deathsPerOneMillion = []
population = []
recovered=[]
recoveredPerOneMillion = []
tests = []
testsPerOneMillion = []
todayCases = []
todayDeaths = []
todayRecovered = []
for c in country:
    try:
        response = requests.get(url + c).json()
        world_active.append(response['active'])
        activePerOneMillion.append(response['activePerOneMillion'])
        cases.append(response['cases'])
        casesPerOneMillion.append(response['casesPerOneMillion'])
        continent.append(response['continent'])
        w_country.append(response['country'])
        lat.append(response['countryInfo']['lat'])
        long.append(response['countryInfo']['long'])
        critical.append(response['critical'])
        criticalPerOneMillion.append(response['criticalPerOneMillion'])
        deaths.append(response['deaths'])
        deathsPerOneMillion.append(response['deathsPerOneMillion'])
        population.append(response['population'])
        recovered.append(response['recovered'])
        recoveredPerOneMillion.append(response['recoveredPerOneMillion'])
        tests.append(response['tests'])
        testsPerOneMillion.append(response['testsPerOneMillion'])
        todayCases.append(response['todayCases'])
        todayDeaths.append(response['todayDeaths'])
        todayRecovered.append(response['todayRecovered'])
    except:
        pass
        #print(f'{c} does not have data')

In [85]:
daily_covid_df = pd.DataFrame({
                                "Active" : world_active,
                                #"ActivePerOneMillion" : activePerOneMillion,
                                "Total_cases" : cases,
                                #"Total_casesPerOneMillion" : casesPerOneMillion,
                                "Continent" : continent,                                
                                "Country" : w_country,
                                "Latitude" : lat,
                                "Longitude" : long,
                                "Critical" : critical,
                                #"CriticalPerOneMillion" : criticalPerOneMillion,
                                "Overall_deaths" : deaths,
                                #"Overall_deathsPerOneMillion" : deathsPerOneMillion,
                                "Population" : population,
                                "Recovered" : recovered,
                                #"RecoveredPerOneMillion" : recoveredPerOneMillion,
                                "Tests" : tests,
                                #"TestsPerOneMillion" : testsPerOneMillion,
                                "TodayCases" : todayCases,
                                "TodayDeaths" : todayDeaths,
                                "TodayRecovered" : todayRecovered,
                                
                                
})

daily_covid_df.head(5)

,Active,Total_cases,Continent,Country,Latitude,Longitude,Critical,Overall_deaths,Population,Recovered,Tests,TodayCases,TodayDeaths,TodayRecovered
0,43154,146523,Asia,Afghanistan,33.0,65.0,1124,6677,39864282,96692,701952,527,62,966
1,321,132952,Europe,Albania,41.0,20.0,3,2457,2874426,130174,916777,0,0,0
2,50070,167131,Africa,Algeria,28.0,3.0,36,4161,44697286,112900,230861,0,0,0
3,353,14630,Europe,Andorra,42.5,1.6,0,127,77398,14150,193595,44,0,37
4,5324,42288,Africa,Angola,-12.5,18.5,8,1000,33955402,35964,681443,0,0,0

In [86]:
today_df = pd.merge(daily_covid_df,vaccine_count)

today_df.head(2)

,Active,Total_cases,Continent,Country,Latitude,Longitude,Critical,Overall_deaths,Population,Recovered,Tests,TodayCases,TodayDeaths,TodayRecovered,Vaccination_count
0,43154,146523,Asia,Afghanistan,33.0,65.0,1124,6677,39864282,96692,701952,527,62,966,1171064
1,321,132952,Europe,Albania,41.0,20.0,3,2457,2874426,130174,916777,0,0,0,1138771

In [87]:
subset_today = today_df[['Country','Latitude','Longitude','Population','Continent']]
subset_today.head()

       Country  Latitude  Longitude  Population Continent
0  Afghanistan      33.0       65.0    39864282      Asia
1      Albania      41.0       20.0     2874426    Europe
2      Algeria      28.0        3.0    44697286    Africa
3      Andorra      42.5        1.6       77398    Europe
4       Angola     -12.5       18.5    33955402    Africa

## Main Covid Dataframe

In [88]:
main_covid_df = pd.merge(covid_groupby,subset_today)
main_covid_df

,Country,Cases,Deaths,Recovered,Vaccination_count,Daily_New_case,Daily_Death_case,Daily_Recovered_case,Daily_Vaccination,Latitude,Longitude,Population,Continent
0,Afghanistan,135648.0,5857.0,82586.0,1003525.0,633.5,45.5,0.0,11049.0,33.0,65.0,39864282,Asia
1,Albania,132612.0,2456.0,130056.0,1039583.0,12.0,0.0,5.0,6432.5,41.0,20.0,2874426,Europe
2,Algeria,148340.0,3874.5,102893.0,75000.0,927.5,13.5,586.0,0.0,28.0,3.0,44697286,Africa
3,Andorra,14167.0,127.0,13796.0,71647.5,8.0,0.0,0.5,121.0,42.5,1.6,77398,Europe
4,Angola,40232.5,943.5,34542.0,1567363.5,101.5,3.0,69.5,4930.5,-12.5,18.5,33955402,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Venezuela,287544.5,3321.0,270483.5,4000000.0,1103.0,15.0,1205.0,0.0,8.0,-66.0,28349471,South America
177,Vietnam,36824.0,135.0,9588.5,4112916.5,2787.0,3.5,312.0,29438.0,21.0,105.8,98276482,Asia
178,Yemen,6962.5,1366.0,4149.0,297405.0,3.5,0.0,3.0,0.0,15.0,48.0,30527321,Asia
179,Zambia,179648.5,2926.5,164302.5,213388.0,1277.0,38.0,1711.0,6401.5,-15.0,30.0,18932856,Africa
180,Zimbabwe,74826.0,2303.0,48577.5,1594589.5,1902.5,53.0,1101.5,23682.5,-20.0,30.0,15094342,Africa

In [78]:
main_covid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362 entries, 0 to 361
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               362 non-null    object
 1   Cases                 362 non-null    float64
 2   Deaths                362 non-null    float64
 3   Recovered             362 non-null    float64
 4   Vaccination_count     362 non-null    float64
 5   Daily_New_case        362 non-null    float64
 6   Daily_Death_case      362 non-null    float64
 7   Daily_Recovered_case  362 non-null    float64
 8   Daily_Vaccination     362 non-null    float64
 9   Latitude              362 non-null    float64
 10  Longitude             362 non-null    float64
 11  Population            362 non-null    int64
 12  Continent             362 non-null    object
dtypes: float64(10), int64(1), object(2)
memory usage: 39.6+ KB

## Visualization

In [92]:
most_vaccinated_df = main_covid_df.sort_values(['Vaccination_count'], ascending = False).head(10)
most_vaccinated_df

,Country,Cases,Deaths,Recovered,Vaccination_count,Daily_New_case,Daily_Death_case,Daily_Recovered_case,Daily_Vaccination,Latitude,Longitude,Population,Continent
34,China,68188.0,4512.0,63648.0,1.408314e+09,56232.5,4300.0,51981.0,0.0,35.0000,105.0000,1439323776,Asia
73,India,30967013.5,411697.5,30124254.5,3.895192e+08,41270.0,640.0,42178.0,3927111.5,20.0000,77.0000,1394531345,Asia
170,USA,33931307.5,607795.5,0.0,3.352150e+08,26909.5,277.0,0.0,592619.5,38.0000,-97.0000,333082557,North America
23,Brazil,19180861.0,536616.0,17082728.0,1.179459e+08,45306.5,1378.0,29854.0,1311711.5,-10.0000,-55.0000,214178124,South America
61,Germany,3746123.5,91310.5,3634985.0,8.389959e+07,988.0,24.0,910.0,541476.5,51.0000,9.0000,84071162,Europe
169,UK,5212333.0,128505.5,0.0,8.131587e+07,5209895.0,128487.5,-2400.0,0.0,54.0000,-2.0000,68268185,Europe
81,Japan,826595.5,14933.0,788862.0,6.802939e+07,2427.0,13.5,1818.0,1223610.0,36.0000,138.0000,126060917,Asia
57,France,5749593.0,110456.0,341087.0,6.228780e+07,5749148.0,110449.0,340649.0,0.0,46.0000,2.0000,65428389,Europe
167,Turkey,5496697.5,50345.5,5362543.5,6.052996e+07,5977.5,48.0,5114.5,634030.5,39.0000,35.0000,85310571,Asia
79,Italy,4274769.5,127819.5,4105775.5,5.917126e+07,1800.0,14.5,1644.0,560479.5,42.8333,12.8333,60366432,Europe

In [93]:
from config import g_key
gmaps.configure(api_key=g_key)
loc = most_vaccinated_df[["Latitude", "Longitude"]]
vaccinated = most_vaccinated_df['Vaccination_count']

ModuleNotFoundError: No module named 'config'

In [ ]:
fig = gmaps.figure(center=(45.0, -5.0), zoom_level=2)
heat = gmaps.heatmap_layer(loc, weights = vaccinated, dissipating=False, max_intensity=100, point_radius=3)
fig.add_layer(heat)
fig

In [43]:
def plotTesting(country=['USA','India']):
    """
    Plots the cumulative testing done by the given list of states
    """
    
    plt.figure(figsize=(25,10))
    plt.title("Vaccination results",fontsize=18)
    for s in country:
        data = np.array(covid_df[covid_df['Country']==s]['Daily_Vaccination'])[-1::-1]
        #slope = int((data[-1]-data[0])/len(data))
        plt.plot(data,linewidth=2)
        #plt.text(x=len(data)-2,y=data[-1]*1.05,s=s,fontsize=14)
        #legends.append(str(slope)+" vaccinations/day in " + s)
    #plt.legend(loc="lower right")
    plt.grid(True)
    plt.xlim(0,len(data)+2)
    plt.xticks(fontsize=16)
    plt.yticks(fontsize=16)
    plt.xlabel("Days",fontsize=16)
    plt.ylabel("Vaccination results",fontsize=16)
    plt.show()